{% extends 'base.html' %}
{% load static %}



{% block title %}
    Djangram | Perfil
{% endblock title %}
    


{% block body %}
<section>
    <div>
        {{user.username}}
        <img src="{{user.picture.url}}" width="60px" height="60px">
        <a href= "{% url 'users:update_user'  user.pk %}">Editar</a>
        <span><b>{{user.posts.all.count}}</b> posts</span>
        <span><b>{{user.followers.all.count}}</b>Seguidores</span>
        <span><b>{{user.following.all.count}}</b>Seguindo</span>
        
        {% for post in user.posts.all  %}
            <p>{{post.description}}</p>
        {% empty %}
            <p class="message">Nao tem posts ainda :(</p>
        {% endfor %}
        
        
        <a href="{% url 'users:follow_user' user.pk %}"> 
        {% if request_user_has_followed %}
          Seguindo
          {% else %}
          Seguir  
        {% endif %}
         </a>
       

   
            
        
            
        
        
    </div>
</section>
    
{% endblock body %}
    
    