{% extends 'base.html' %}
{% load static %}

 
 {% block title %}
     Djangram  | Sign Up 
 {% endblock title %}
 
 {% block body %}
 <section>
        <div>

            <h2>Sign Up</h2>
            <a href=" {% url "social:begin" "google-oauth2" %}">Google</a>
            <form method="POST">
               {% csrf_token %}
   
                {{form.as_p}}
   
                <input type="submit" value="Signup">
   
            </form>
        </div>
    </section>
     
 {% endblock body %}
     

 
 
     
 
     
     